python-telegram-bot>=21.0.1
google-api-python-client==2.48.0
google-auth==2.3.3  # Sostituisce oauth2client
openpyxl==3.1.2
python-dotenv==0.19.0
PyYAML==6.0.2  # Versione esatta
flask==2.1.0
pycryptodome==3.10.1
setuptools==68.0.0  # Necessario per evitare errori di build
